header {
  background: black;
  padding: 20px;
}
a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.homepage__main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
}

.homepage__job {
  width: 40%;
  padding: 20px;
  border: 1px solid black;
}

.homepage__job h1 {
  font-weight: bold;
  margin-bottom: 10px;
}
.homepage__job p {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
}

.url {
  color: blue;
}

.search__main {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  align-content: center;
  gap: 30px;
}

.update {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hide {
  display: none;
}
